# Heart Failure Predictor

## Introduction

Purpose of this project is to create a model to predict for heart outcomes using 11 clinical features provided by the Kaggle dataset found using the following link: https://www.kaggle.com/datasets/fedesoriano/heart-failure-prediction/

Different supervised learning models will be used and compared to see which model is most suitable for the data.

## Attribute Information (provided in dataset)

   - Age: age of the patient [years]
   - Sex: sex of the patient [M: Male, F: Female]
   - ChestPainType: chest pain type [TA: Typical Angina, ATA: Atypical Angina, NAP: Non-Anginal Pain, ASY: Asymptomatic]
   - RestingBP: resting blood pressure [mm Hg]
   - Cholesterol: serum cholesterol [mm/dl]
   - FastingBS: fasting blood sugar [1: if FastingBS > 120 mg/dl, 0: otherwise]    
   - RestingECG: resting electrocardiogram results [Normal: Normal, ST: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV), LVH: showing probable or definite left ventricular hypertrophy by Estes' criteria]
   - MaxHR: maximum heart rate achieved [Numeric value between 60 and 202]
   - ExerciseAngina: exercise-induced angina [Y: Yes, N: No]
   - Oldpeak: oldpeak = ST [Numeric value measured in depression] 
   - ST_Slope: the slope of the peak exercise ST segment [Up: upsloping, Flat: flat, Down: downsloping]
   - HeartDisease: output class [1: heart disease, 0: Normal]

In [1]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# import dataset 

data = pd.read_csv("heart.csv")

In [4]:
# preview dataset

data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [6]:
# dataset size

data.shape

(918, 12)

In [7]:
# null values

data.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [ ]:
# duplicate values